body {
  background-color: #F8D78F; /* Peach */
  font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
  color: #CA2602; /* Warna teks utama (Chili red) */
}

/* di fix oleh Muhammad Ziro Susilo :) */
.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FCEDD8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}
